body {
	margin: 0;
	background-image:url('images/ev3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family:'Montserrat', sans-serif;   
	color: black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.main_text {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 20px black;
	padding: 1%
}